$blue : #87d9fc;
$grey: #999;
$mid-grey: #999;
$dark-grey: #444;
$color-text: #493e45;
$text-primary: rgba(0,0,0,0.87);
$text-secondary: rgba(0,0,0,0.53);
$color-highlight: #87d9fc;
$color-heading: #fff;
$background: #fff;
$background-section: #efefef;
$background-detail: #f9f9f9;
$background-heading: #87d9fc;
$purple: #cd80de;
$background-heading: #f02673;
$transparent: rgba(220,220,220, 0.4);
$box-shadow: .3em .3em 1em #222;

$shadow-low: 0 0.2em .7em rgba(0, 0, 0, .3);
$shadow-mid: 0 0.3em 1.2em rgba(0, 0, 0, .3);
$shadow-high: 0 0.6em 1.7em rgba(0, 0, 0, .3);
$shadow-high: 0 0.5em 4em rgba(0, 0, 0, 0.2), 0 0.4em .7em rgba(0, 0, 0, 0.3);

@function ems($px) {
	@return ($px / 16) + 0em;
}

@mixin clear {
	&::before, &::after {
		content : " ";
		display : block;
		clear   : both;
	}
}

@mixin paper {
	box-shadow : $shadow-mid;
	transition : .3s box-shadow, .3s transform;
	&:hover {
		box-shadow : $shadow-high;
		transform: matrix(1,0,0,1,0,-2);
	}
}

@mixin list-reset {
	list-style-type: none;
	padding: 0;
}

@mixin vertical-center-parent {

	text-align  : center;
	// white-space : nowrap;

	&:before {
		content        : '';
		display        : inline-block;
		height         : 100%;
		vertical-align : middle;
		margin-right   : -0.25em;
	}
}

@mixin vertical-center-element ($width: 1000px) {
	display        : inline-block;
	vertical-align : middle;
	width: 90%;
	max-width : $width;
	text-align : initial;
}

@mixin breakpoint( $size ){

	$sizes: (
		small: ems(600) ,
		medium: ems(900),
		large: ems(1200)
	);

	$size: map-get($sizes, $size);

	@media screen and (max-width: #{$size} ){
		@content;
	}

}

@import 'fontello';

@font-face {
	font-family: 'proxima';
	src: url('font/ProximaNova-Regular.otf');
}

@font-face {
	font-family: 'proxima';
	font-weight : bold;
	src: url('font/Proxima%20Nova%20Bold.otf');
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300");

html, body {
	font-family : 'proxima', 'Roboto', sans-serif;
	font-weight: 300;
	background: $background;
	color: $text-primary;
	line-height: 200%;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

* {
	-webkit-box-sizing : border-box;
	-moz-box-sizing    : border-box;
	box-sizing         : border-box;
}

header#site-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 4em;
	background: $background-heading;
	border-bottom: .2em solid $background-heading;
}

main#site-content {
	position: absolute;
	top: 4em;
	left: 0;
	bottom: 0;
	right: 0;
	//overflow-y: auto;
	//overflow-x : hidden;
}

section {
	@include clear;
	position : relative;
	background: #fff;
	//margin: 1em auto 2em;
	padding: 1em;
	min-height:100%;
	width: 100%;

	&:before {
		content: " ";
		width: 2em;
		height: 2em;
		position : absolute;
		left: 50%;
		top: -1em;
		transform: rotateZ(45deg);

		&:not(:nth-child(1)) {
			background: $background-section;
		}
	}

	&:nth-child(odd){
		background: $background-section;

		&:before {
			background: #fff;
		}
	}

	&.primary {
		background: $background-heading;
	}

	h2 {
		display: block;
		padding-bottom: 1em;
		border-bottom: .2em solid $background-heading;
		width: 100%;
	}
}


section .wrapper {
	//background: $background-detail;
	margin: 1em auto;
	@include clear;
}

.jobs__group {
	height: 100%;
}

section .slideshow {

	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background: #eee;
	//background      : url('./images/background.png');
	background      : url('./vectors/scenery.svg');
	background-size : cover;
	background-attachment: fixed;
	background-position-y : 327px;
	//background-position-x : 600px;

	.slideshow-nav {
		position: absolute;
		height: 4em;
		width: 4em;
		top: 50%;
		margin-top: -2em;
		z-index : 9999;
		background : $transparent;

		&#slideshow-nav-left {
			left: 0;
			&:before {
			    content: "<";
			}
		}

		&#slideshow-nav-right {
			right: 0;
			&:before {
				content: ">"
			}
		}
	}

	ul.slideshow-wrapper {
		@include list-reset;
		position        : absolute;
		top             : 0;
		left            : 0;
		bottom          : 0;
		width           : 500%;
		overflow        : hidden;
		display         : flex;
		align-content   : center;
		align-items     : center;
		justify-content : space-around;

	}

	li.slide {
		flex: 0 1 auto;
		flex-basis: (100 / 6) * 1%;
		min-width : ems(200);
		max-width : ems(1200);

		h3 {
			font-size: 2em;
			font-weight: 700;
			transform: matrix(1, 0, 0, 1 ,0, 0);
		}

		.job {
			//box-shadow : $box-shadow;
		}

		.details {
			background : rgba(255,255,255,0.7);
			@include paper;
		}

		.job__details li {
			transform: matrix(1,0,0,1,50,50);
			opacity: 0;
			@include clear;

			span.list-tick {
				width: 5%;
				float: left;
			}

			span.list-tick:before {
				content     : '\e800';
				font-family : "fontello";
				height: 100%;
				float: left;
			}

			span.list-content {
				width: 95%;
				float: left;
			}
		}
	}
}

section div.details {
	padding: 1em;
	@include clear;
}

a {
	text-decoration: none;
}

section {

	h1, h2, h3, h4, h5 {

		a {
			text-decoration: none;
			color: $text-primary;
		}

	}
}

ul {
	@include list-reset;
}

ul.tick-list {
	@include list-reset;
	padding: 1em;
	li {
		@include clear;
		display: block;
		opacity: 0;
		transform         : matrix(1,0,0,1,50,50);
	}

	li span {
		display: block;
		float: left;
		height: 100%;
		line-height: 2em;
		margin: .5em 0;
	}

	li span::before {
		font-family: 'fontello';
		content : '\e800';
		display: inline-block;
		float: left;
		height: 100%;
		background: #41b0d2;
		color: #eee;
		padding: .5em 1em;
		margin : 0 1em 0 0;
	}
}

.language {

	@include clear;
	padding: 1em;

	.language__time, .language__level {
		width: 20%;
		float: left;
	}

	.language__level {
		text-align : right;
	}

	.language__progress {
		width: 60%;
		height: 2em;
		float: left;
		background: darken($background-section, 10%);
	}

	.language__progress-inner {
		background: $blue;
		width: 0%;
		height: 100%; //
	}

}

.books__group {

	.books {
		display : flex;
		align-content: flex-start;
		align-items: flex-start;
		justify-content : space-between;
	}

	.book {
		flex: 0 1 auto;
		width: 21%;
		display: flex;
		flex-direction: column;
		@include paper;
	}

	.book__heading {
		flex: 1;
		background: $background-heading;

		a {
			color: #fff;
		}
	}

	.book__details {
		flex: 4;
	}

}

#output-languages {
	.wrapper {

		display : flex;
		flex-wrap: wrap;
		align-content : flex-start;

		.language {
			flex-basis: (100 / 2) * 1%;
			flex-basis: 100%;
		}

	}
}

header#site-header {

	background: #222;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

	// padding: 2em 0;

	nav {

		display: flex;
		justify-content: center;

		ul {
			display: flex;
			flex-wrap : wrap;
			flex-basis : 60%;
			text-align : center;

			@include breakpoint('medium'){
				flex-basis: 90%;
			}

			li {
				color: $color-heading;
				flex: 1 1 auto;
				cursor: pointer;

				&.active {
					border-bottom: ems(3) solid white;
				}
			}
		}

	}

}

#output-hero {

}

div.hero {
	min-height: 100%;
	width: 100%;
	background: #fff;
	display: flex;
	align-content: center;
	flex-basis : 50%;
	justify-content : center;
	// background: url('images/background.jpg');
	background-size: cover;
	background-origin: content-box;

	.hero-inner {
		margin: 0;
		padding : 2em;
		flex : 0 1 auto;
		align-self: center;
		align-content: center;
		flex-basis : 50%;
		text-align : center;
		background: rgba(240,240,240,.4);
		border: 1px solid rgba(240, 240, 240, .8);
		@include paper;
	}

	#word {
		font-weight: bold;
		color: $background-heading;
	}
}

#output-frameworks, #output-languages {

	.container {
		max-width: ems(1200);
		width: 100%;
		margin: 1em auto;
	}

	.framework {
		display: flex;
		background: #fff;
		margin-bottom: 1em;
		position: relative;
		transform: matrix(1,0,0,1,0,0);
		@include paper;

		&:hover {
			box-shadow: $shadow-high;
		}
		// color: #fff;

		header {
			flex: 1;
			background: $background-heading;
			padding: 1em;

			a, & {
				color: #fff;
			}
		}

		.framework__info {
			flex: 4;
			padding: 0 1.2em;
		}

		.framework__info-collection {

			display: flex;

			li {
				flex: 1;
			}
		}

		.framework__info-desc {
			padding: 1.2em;
		}
	}
}

#output-frameworks {

	.framework {

		header{
			background: $background-section;

			&, a {
				color : $background-heading;
			}
		}

	}
}

.progress {
	height: .2em;
	width: 100%;
	margin: .4em 0;
	position: relative;
	background: $background-section;

	.progress-inner {
		width: 0%;
		height: 100%;
		background: $background-heading;
	}
}

.truck {
	position: absolute;
	bottom: 10px;
	transform: matrix(1,0,0,1,2000,0);
	max-width: 600px;
	width: 90%;
	margin: auto;
}

.scenery {

	position  : absolute;
	width: 300%;

}

.personal-left {

	p {
		max-width: 30em;
	}
	width: 50%;
	float: left;
}

.personal-right {
	width : 50%;
	float : left;
}